*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: 'antialiased';
  -moz-osx-font-smoothing: 'grayscale';
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.custom-h-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-h-scrollbar::-webkit-scrollbar-track {
  background-color: var(--hope-colors-neutral1);
}

.custom-h-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--hope-colors-neutral9);
  border-radius: 9999px;
}

.lines-gradient {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 4px,
    var(--un-gradient-to) 4px,
    var(--un-gradient-to) 6px
  );
}
